.environmentpage {
    display: -ms-grid;
    width: 100%;
    height: 100%;
    background: #CC2200;
    -ms-grid-columns: 1fr;
    -ms-grid-rows:auto auto;
     -ms-grid-rows:auto auto auto auto 1fr 80px;
}

.environmentpage .logopage {
    margin: 60px 20px 40px 20px;
    -ms-grid-column: 1;
     -ms-grid-row: 1;
}

.environmentpage  .mainform {
     margin: 10px 20px;
    -ms-grid-column: 1;
     -ms-grid-row: 2;
    font-size: 18px;    
}

.environmentpage .demo {
    -ms-grid-column: 1;
     -ms-grid-row: 5;
     font-size: 18px;
    text-align: center;
    position: relative;
}
.environmentpage  .demobottom {
    position: absolute;
    width: 100%;
    margin: 0 auto;
    bottom: 40px;
    display: -ms-grid;
    -ms-grid-rows: auto auto;
    -ms-grid-columns: 1fr;
}

.environmentpage .footer {
    -ms-grid-column: 1;
     -ms-grid-row: 6;
     font-size: 18px;
    text-align: center;
}

.environmentpage .footer a {
    color: white;
    font-weight: bold;
    text-decoration: none;
}

.environmentpage .footer a:hover 
{
     color:white; 
     text-decoration:none; 
     font-weight: bold;
     cursor:pointer;  
}
.environmentpage .errormessageholder {
    text-align: center;
    width: 100%;
        font-size: 14px;
    margin-top: 15px;

}
.environmentpage #gobutton {
    width: 100%;
    margin:0;
}

.environmentpage .environmentform {
    display: block;margin: 0 auto;width: 100%;
}

.environmentpage .logo {
   display:  block;margin: 0 auto;width: 100%;height: auto;max-width: 500px
}

.environmentpage .trydemobutton {
   font-weight: bold;
   padding: 10px;
   -ms-grid-row:2;
   -ms-grid-column-align:center;
   margin-top: 10px;
}

.environmentpage .trydemobuttontext {
    -ms-grid-row:1;-ms-grid-column-align:center;
}

.environmentpage #envProgressRing {
        color: #FFFFFF;
    width:30px; height:30px;
    display:none;
   margin: 15px auto;
}

.environmentpage .endpointinput {
    width: 100%;
    -ms-grid-column: 1;
    margin-top:5px;
    margin-bottom:0px;
}

.environmentpage .environmentform .textholder .lighttext{
    -ms-grid-column: 1;
    -ms-grid-row-align: center;
    -ms-grid-column-align: center;
}

.environmentpage .environmentform .textholder .endpointhelp {
    -ms-grid-column:2;
    -ms-grid-row-align: center;
    -ms-grid-column-align: end;
    padding: 0px;
}

.environmentpage .endpointholder {
    display: -ms-grid;-ms-grid-columns:1fr;
}

.environmentpage .environmentform .textholder {
    display: -ms-grid;
    -ms-grid-rows:auto;
    -ms-grid-columns:auto 1fr;
}


.environmentpage .helpsection {
    width: 100%;
     -ms-grid-row:3;
      -ms-grid-column:1;    
    background: rgba(255, 255, 255, 0.4);
      display: -ms-grid;
      -ms-grid-columns:1fr;
      -ms-grid-rows:1fr;
    height: 0px;
    overflow: hidden;
}

.environmentpage .helptext {
    -ms-grid-column:1;
    -ms-grid-column-align:center;
    -ms-grid-row:1;
    -ms-grid-row-align:center;
    margin: 0 20px;
}

.environmentpage .okbuttonsection {
    -ms-grid-row: 4;
    -ms-grid-column: 1;
    margin: 10px 20px;
}
.environmentpage .environmentform .textholder .endpointhelpphone {
    display: block;
    position:relative;
    top:-3px;
}

.environmentpage .endpointhelptablet {
    display: none;
}


@media screen and (min-width: 800px) {

     .environmentpage .environmentform > div {
         margin-top: 10px;
         margin-bottom: 0;
         margin-left:0;
         margin-right:0;
     }

     .environmentpage .environmentform .textholder {
    display: -ms-grid;-ms-grid-columns:1fr;
    }

     .environmentpage {
        -ms-grid-columns: 1fr 2fr 1fr;
    }


    .environmentpage .logopage {
        -ms-grid-column: 2;
    }

    .environmentpage  .mainform {
        -ms-grid-column: 2;
    }

    .environmentpage .demo {
        -ms-grid-column: 2;
 
    }

    .environmentpage .footer {
        -ms-grid-column: 2;
    }

    .environmentpage .helpsection {
          -ms-grid-column:1; 
          -ms-grid-column-span:3; 
          -ms-grid-columns:1fr 2fr 1fr;
    }
    .environmentpage .helptext {
        -ms-grid-column:2;
        -ms-grid-column-align:center;
          margin: 0px;
    }

    .environmentpage .okbuttonsection {
        -ms-grid-column: 2;
    }
    .environmentpage  .demobottom {
        display: inherit;
    }
    .environmentpage .trydemobutton {
        margin-left: 10px;
    }
    .environmentpage .environmentform .endpointholder {
        display: -ms-grid;-ms-grid-columns:1fr;position:relative;
    }

    .environmentpage .environmentform .endpointholder .endpointhelp {
        -ms-grid-column:2;
       position:absolute;
       top:-3px;
       right: -60px;
        padding: 0px;
    }

    .environmentpage .environmentform .textholder .endpointhelpphone {
        display: none;
    }

    .environmentpage .environmentform .endpointholder .endpointhelptablet {
        display: block;
    }

}